<h3> Recipes </h3>

  <p>Recipe Name: <%= @recipe.name %></p>
  <p>Complexity: <%= @recipe.complexity %></p>
  <p>Genre: <%= @recipe.genre %></p>

  <ul>
    <h4> Ingredients </h4>
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %> </li>
    <% end %>
  </ul>
