<h1><%= @recipe.name %> Ingredients</h1>
<h2>Complexity: <%= @recipe.complexity %></h2>
<h2>Genre: <%= @recipe.genre %></h2>
<% @recipe_ingredients.each do |recipe_ingredient| %>
  <ul>
    <%= recipe_ingredient.ingredient.name %>
  </ul>
<% end %>
