<h1> All Ingredients </h1>

<div id="ingredients-<%= "Ingredients" %>">
  <% @ingredients.each do |ingredient| %>
    <ul>
      <li>Name: <%= ingredient.name %></li>
      <li>Cost: <%= ingredient.cost %> </li>
    <ul>
  <% end %>
</div>  